@model Ozoterija.Models.grad

@{
    ViewBag.Title = "Izbriši grad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Izbriši grad</h2>

<h3>Jeste li sigurni da želite izbrisati grad?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ime grada
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ime_grada)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Izbriši" class="btn btn-danger" /> 
            <a class="text-white btn btn-warning" href="~/grad/Index">Natrag</a>
        </div>
    }
</div>
